{{extend 'layout.html'}}
<div class="well">
    <h3 class="center"><span class="label label-default">    الترميزات الخاصة بالنظام
</span></h3>
<br />
<div class="row center">
    <div class="col-md-3">
        <a class="btn btn-primary btn-sm" href="{{=URL('setup','key_location_place')}}" style="width: 100%;" >
             القطاعات
         </a>
    </div>
  <div class="col-md-3">
      <a class="btn btn-primary btn-sm" href="{{=URL('setup','key_location_type')}}" style="width: 100%;" >
            انواع المواقع
        </a>
  </div>
  <div class="col-md-3">
      <a class="btn btn-primary btn-sm" href="{{=URL('setup','locations')}}" style="width: 100%;" >
           المواقع
       </a>
  </div>
  <div class="col-md-3">
      <a class="btn btn-primary btn-sm" href="{{=URL('setup','days')}}" style="width: 100%;" >
           الايام
      </a>
  </div>
</div>
<hr />
 
<div class="row center">
  <div class="col-md-3">
      <a class="btn btn-primary btn-sm" href="{{=URL('setup','key_location_category')}}" style="width: 100%;" >
           فئات المواقع
       </a>
  </div>
  <div class="col-md-3">
      <a class="btn btn-primary btn-sm" href="{{=URL('setup','key_degree')}}" style="width: 100%;" >
           الدرجة العلمية
       </a>
  </div>
  <div class="col-md-3">
      <a class="btn btn-primary btn-sm" href="{{=URL('setup','standards')}}" style="width: 100%;" >
            معايير اختيار الملقين للمساجد
        </a>
  </div>
<div class="col-md-3">
    <a class="btn btn-primary btn-sm" href="{{=URL('setup','msajed_users')}}" style="width: 100%;" >
          الملقين و الأئمة
      </a>
</div>

</div>


</div>
<hr />
