$orange: #F16745;
$yellow: #FFC65D;
$green: #7BC8A4;
$blue: #4CC3D9;
$purple: #93648D;
$black: #404040;

//  Code
$code-blue: #66d9ef;
$code-purple: #ae81ff;
$code-black: #272822;
$code-white: #f8f8f2;
$code-grey: #708090;
$code-green: #a6e22e;

